<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Site</title>
<!--    <link th:href="@{/css/index.css}" rel="stylesheet" href="/static/css/index.css">-->
</head>
<body>
<div class="wrap">
    <div style="border: 1px solid black; padding: 10px;float: left; margin-top: 20px; margin-right: 20px">
        <img th:src="${user.getAvatarurl()}" style="width: auto; height: 100px">
    </div>
    <table border="1">
        <tr>
            <td>Username: </td>
            <td><p th:text="${user.getNameuser()}"/></td>
        </tr>
        <tr>
            <td>Login: </td>
            <td><p th:text="${user.getUsername()}"/></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><p th:text="${user.getEmail()}"/></td>
        </tr>
    </table>
</div>
</body>
</html>