<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body th:style="'background: url(/css/123321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header>
        <h1 class="headerSite">Site *****</h1>
        <br>
        <hr>
    </header>
    <h2 class="news">News</h2>
    <div class="content">
        <p th:text="${user.getUsername()}"></p>
        <br>
        <p th:text="${user.getId()}"></p>
    </div>
    <aside>
        <h2>Content</h2>
        <ul>
            <li><a href="/">Main page</a></li>
            <li><a th:href="@{/profile/{id}(id=${user.getId()})}">Profile</a></li>
            <li><a href="/news/new">Make news</a></li>
            <li><a href="/login/logout">Logout</a></li>
        </ul>
    </aside>
    <footer>
        <p>(c)Cyanide3D</p>
    </footer>
</div>
</body>
</html>