<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Site</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="/static/css/index.css">
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header th:replace="parts/menu :: header"></header>
    <h2 class="news">News</h2>
    <div class="content">
        <div class="newslist" th:each="news : ${news}">
            <a th:href="@{/news/{id}(id=${news.getId()})}" th:text="${news.getName()}">user</a>
            <div class="bodynews">
                <p th:utext="${news.getDescription()}"></p>
            </div>
        </div>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <aside th:replace="parts/menu :: menu"></aside>
    <footer th:replace="parts/menu :: footer"></footer>
</div>
</body>
</html>