<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Site</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="/static/css/index.css">
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header th:replace="parts/menu :: header"></header>
    <h2 class="news">News</h2>
    <div class="content">
        <form th:method="PATCH" th:action="@{/news/{id}(id=${news.getId()})}" th:object="${news}">
            <label for="name">   Enter name: </label>
            <br>
            <input type="text" th:field="*{name}" id="name"/>
            <br>
            <label for="description">   Enter description: </label>
            <br>
            <textarea rows="12" th:field="*{description}" cols="25" wrap="hard" id="description"></textarea>
            <br/>
            <label for="body">   Enter body: </label>
            <br>
            <textarea rows="12" th:field="*{body}" cols="25" wrap="hard" id="body"></textarea>
            <br/>
            <input type="submit" value="Update!"/>
        </form>
    </div>
    <aside th:replace="parts/menu :: menu"></aside>
    <footer th:replace="parts/menu :: footer"></footer>
</div>
</body>
</html>