<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Site</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="/static/css/index.css">
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header th:replace="parts/menu :: header"></header>
    <h2 class="news">News</h2>
    <div class="content">
        <h1 th:text="${news.getName()}"/>
        <hr>
        <p th:utext="${news.getBody()}"/>
        <br>
        <hr>
        <form  sec:authorize="hasRole('ROLE_ADMIN')" th:method="POST" th:action="@{/news/{id}/delete(id=${news.getId()})}">
            <input class="buttons" type="submit" value="Delete"/>
        </form>
        <form  sec:authorize="hasRole('ROLE_ADMIN')" th:method="GET" th:action="@{/news/{id}/edit(id=${news.getId()})}">
            <input class="buttons" type="submit" value="Edit"/>
        </form>
    </div>
    <aside th:replace="parts/menu :: menu"></aside>
    <footer th:replace="parts/menu :: footer"></footer>
</div>
</body>
</html>