<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Site</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" href="/static/css/index.css">
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header th:replace="parts/menu :: header"></header>
    <h2 class="news">LeaderBoard</h2>
    <div class="content">
            <table border="1">
                <tr>
                    <th>Avatar</th>
                    <th>Nickname</th>
                    <th>Level</th>
                    <th>Exp</th>
                </tr>
                <tr th:each="leader : ${leaders}">
                    <td><img style="border-radius: 50px" th:src="${leader.getAvatarUrl()}" height="40" width="40"/></td>
                    <td><p th:text="${leader.getAsTag()}"/></td>
                    <td><p th:text="${leader.getLevel()}"/></td>
                    <td><p th:text="${leader.getExp()}"/></td>
                </tr>
            </table>
    </div>
    <aside th:replace="parts/menu :: menu"></aside>
    <footer th:replace="parts/menu :: footer"></footer>
</div>
</body>
</html>