.wrap {
    background: rgba(82, 80, 80, 0.48);
    width: 960px;
    margin: auto;
    height: 900px;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.76) inset;
}

.error {
    color: red;
    font-weight: bold;
}

.content, aside{
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    padding: 10px; /* Поля вокруг текста */
    background: rgba(34,34,34,0.71);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.24) inset;
    border-radius: 15px;
}

.content {
    margin-left: 10px;
    float: left;
    width: 72%;
    height: 76%;
}

.news{
    color: white;
    font-size: 32px;
    margin-left: 30px;
}

.headerSite{
    color: white;
    font-size: 50px;
    margin-left: 50px;
    margin-top: 25px;
}

.newslist{
    width: 100%;
    border-bottom: 4px double;
    border-bottom-color: white;
}
.bodynews{
    width: 50%;
}

aside {
    margin-right: 10px;
    float: right;
    width: 20%;
    height: 500px;
}
a.content{
    font-size: 30px;
}

footer {
    clear: both;
}

a, a:visited{
    color: white !important;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial";
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.formreg {
    border: 1px solid #c6c7cc;
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    width: 240px;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.reg {
    border-radius: 5px;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}
.account-info {
    padding: 20px 20px 0 20px;
}
.account-info label {
    color: #395870;
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
}
.account-info input {
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 2px;
    margin-bottom: 25px;
    width: 100%;
}
.account-action {
    background: rgba(124, 179, 63, 0);
    border-top: 1px solid #c6c7cc;
    padding: 20px;
}
.account-action .btn {
    background: linear-gradient(#49708f, #293f50);
    border: 0;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
}
.account-action label {
    color: #7c7c80;
    font-size: 12px;
    float: left;
    margin: 10px 0 0 20px;
}