<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header th:replace="parts/menu :: header"></header>
    <h2 class="news">News</h2>
    <div class="content">
        <h2> Login</h2>
        <hr>
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form id="12" th:method="GET" th:action="@{/registration}">

        </form>
        <form class="formreg" th:action="@{/login}" method="post">
            <fieldset class="account-info">
                <div><label> Username : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
            </fieldset>
            <fieldset class="account-action">
                <div><input class="btn" type="submit" value="Sign In"/></div>
                <input style="margin-left: 30px" form="12" class="btn" type="submit" value="Sign Up"/>
            </fieldset>
        </form>
    </div>
    <aside th:replace="parts/menu :: menu"></aside>
    <footer th:replace="parts/menu :: footer"></footer>
</div>
</body>
</html>