<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header>
        <h1 class="headerSite">Site *****</h1>
        <br>
        <hr>
    </header>
    <h2 class="news">News</h2>
    <div class="content">
        <h2>  Login</h2>
        <hr>
        <div th:if="${param.error}">
            Invalid username or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="formreg" th:action="@{/login}" method="post">
            <fieldset class="account-info">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            </fieldset>
            <fieldset class="account-action">
            <div><input class="btn" type="submit" value="Sign In"/></div>
                <form th:method="GET" th:action="@{/registration}">
                    <input style="margin-left: 30px" class="btn" type="submit" value="Sign Up"/>
                </form>
            </fieldset>
        </form>
    </div>
    <aside>
        <h2>Content</h2>
        <ul>
            <li><a href="/">Main page</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
        </ul>
    </aside>
    <footer>
        <p>(c)Cyanide3D</p>
    </footer>
</div>
</body>
</html>