<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header>
        <h1 class="headerSite">Site *****</h1>
        <br>
        <hr>
    </header>
    <h2 class="news">News</h2>
    <div class="content">
        <h2>  Login</h2>
        <hr>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>
    <aside>
        <h2>Content</h2>
        <ul>
            <li><a href="/">Main page</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/registration">Registration</a></li>
        </ul>
    </aside>
    <footer>
        <p>(c)Cyanide3D</p>
    </footer>
</div>
</body>
</html>