<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <meta charset="UTF-8">
    <title>Site</title>
</head>
<body th:style="'background: url(/img/321.jpg) no-repeat center center fixed;'">
<div class="wrap">
    <header>
        <h1 class="headerSite">Site *****</h1>
        <br>
        <hr>
    </header>
    <h2 class="news">News</h2>
    <div class="content">
        <h2>  Registration</h2>
        <hr>
        <div th:if="${param.error}">
            Username already is use!
        </div>
        <form th:method="POST" th:action="@{/registration}" th:object="${user}">
            <label for="nameuser">Username: </label>
            <input type="text" th:field="*{nameuser}" id="nameuser"/>
            <br>
            <label for="username">Login: </label>
            <input type="text" th:field="*{username}" id="username"/>
            <br>
            <label for="password">Password: </label>
            <input type="text" th:field="*{password}" id="password"/>
            <br>
            <input class="buttons" type="submit" value="Register">
        </form>
    </div>
    <aside>
        <h2>Content</h2>
        <ul>
            <li><a href="/">Main page</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
        </ul>
    </aside>
    <footer>
        <p>(c)Cyanide3D</p>
    </footer>
</div>
</body>
</html>